.navbar {
    background-color: gray;
    display: flex;
    align-items: center;
}
/* dropdown button */
.drop-btn {
    background-color: gray;
    color: rgb(0, 0, 0);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 2px solid black;
    
    font-size: 20px;
}

/* container <div> untuk posisi dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 6px;
}
/*dropdown content hidden secara default dengan display none*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: blue;
    min-width: 160px;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* link didalam dropdown */
.dropdown-content a {
    color: black;
    text-decoration: none;
    padding: 12px 16px;
    display: block;
}

/* ubah warna saat link dropdown di hover */
.dropdown-content a:hover {
    background-color: #000;
}

/* menunjukkan dropdown menu saat active */

/* menunjukkan dropdown menu saat active (JS menambahkan class .active) */
.dropdown.active .dropdown-content{
    display: block;
}

/* button style saat aktif */
.drop-btn.active {
    background-color: #35cc3c;
    cursor: default;
}

.dropdown:hover .drop-btn {
    background-color: #3e8e42;
}

